<app-navbar-home></app-navbar-home>
<style>
    .bgm{background-image:url('https://www.nestdigital.com/images/banner2.jpg') ;}
</style>
<div class="bgm" style="height:700px">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="row">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <h2>Contact Us</h2>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"></div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <h4>NeST DIGITAL CORPORATE OFFICE</h4>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"></div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <p>
                            Plot No. 2, Cochin Special Economic Zone
                            (CSEZ), Kakkanad, Cochin – 682 037, India
                            Phone: +91-484-661 4300</p>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"></div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"></div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"></div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <p>NeST Towers, University junction,
                        Kalamassery, Kochi, Kerala,
                        India – 682 033
                        Ph: +91-484-6701000</p>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"></div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"></div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"></div>

                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <p>No.70/4, Eliem building, 2nd cross,
                        C.S.I compound, Mission road,
                        Bangalore, Karnataka, India – 560 027</p>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>
