<app-navbar-admin></app-navbar-admin>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1>View Courses</h1>
           </div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Course Title</th>
                    <th scope="col">Course Duration</th>
                    <th scope="col">Course Description</th>
                    <th scope="col">Course Date</th>
                    <th scope="col">Course Venue</th>
                  </tr>
                </thead>
                <tbody>
                 <ng-container *ngIf="loading;then loadingScreen;else dataScreen"></ng-container>
                  <ng-template #loadingScreen><div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-grow text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-grow text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-grow text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-grow text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-grow text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-grow text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-grow text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div></ng-template>
                  <ng-template #dataScreen>
                    <tr *ngFor="let i of data">
                      <td>{{i.courseTitle}}</td>
                      <td>{{i.courseDuration}}</td>
                      <td>{{i.courseDescription}}</td>
                      <td>{{i.courseDate}}</td>
                      <td>{{i.courseVenue}}</td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
        </div>
    </div>

